.ProfilePage {
	display: flex;
	flex-direction: column;
	background-color: #261b2e;
	padding-bottom: 80px;
	width: 100%;

	.ProfilePage_header {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.ProfilePage_content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 20px;
		width: 80%;
		padding: 0 80px;
	}
}

@import "./components/ProfilePonorama/ProfilePonorama";
@import "./components/ProfileInfo/ProfileInfo";
